doctype html
html
  head
    title ServiBus Website
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.js")
    script(type="text/javascript" src="javascripts/moments.js")
    script(src="javascripts/sweetalert.min.js")
    script(src="/../javascripts/vanilla-notify.js")
    script(src="javascripts/indexGerente.js")
    script(src="javascripts/common.js")
    script(src="javascripts/navega.js")
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/sweetalert.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/vanilla-notify.css")
    
    link(rel="stylesheet" type="text/css" href="/../fonts/iconfont/material-icons.css")
    link(href="/../images/fav.ico/favicon.ico" rel="icon" type="image/ico")  
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        ul(id="dropdown1" class="dropdown-content grey lighten-3")
          li
            a(href="/nuevo_empleado" class="green-text" style="font-weight:bold") Nuevo empleado
          li
            a(href="/ver_empleados" class="green-text" style="font-weight:bold") Ver empleados
            
        ul(id="dropdown2" class="dropdown-content grey lighten-3")
          li
            a(href="/registrar_unidad" class="green-text" style="font-weight:bold") Nueva unidad
          li
            a(href="/ver_unidades" class="green-text" style="font-weight:bold") Ver Unidades
        
        div(class="z-depth-3 col s12 m10 l10 offset-l1 ")
          div
            div(class="row grey lighten-3")
              div(class="col s1 push-s1 ")
                ul(id="slide-out" class="sidenav light-blue darken-4")
                  li
                    div(class="user-view")
                      div(class="background green")
                        img(src="")
                      a(href="#user")
                        img(class="circle" src="images/couple.jpg")
                      a(href="#name")
                        span(class="white-text name" style="font-size:20px") #{user_nombre}
                      a(href="/logout/")
                        span(style="color: #ed1b24; font-weight:bold") Cerrar sesion
                  li
                    a(class="white-text" href="/index") Usuarios del sistema      
                  li
                    a(class="dropdown-trigger white-text" href="#!" data-target="dropdown1") Empleados
                      i(class="material-icons right") arrow_drop_down
                  li
                    a(href="#!" class="dropdown-trigger white-text" data-target="dropdown2") Unidades
                      i(class="material-icons right") arrow_drop_down
                a(href="#" data-target="slide-out" class="sidenav-trigger")
                  i(class="material-icons #01579b" style="font-size: 40px; padding-top:30px" ) menu    
              div(class="col s7 push-s2")
                  img(src="images/mapa.png" width="120" height="70" style="padding-top: 10px")
                  h4(class="right green-text darken-4" style="padding-bottom:10px; padding-left:20px") ServiBus Servicios Turisticos Terrestres 
        
        div(class="container")
          
          div(class="row")
            div(class="col s10")
              h4.center.bold Lista de empleados
            label(for="aDate" id="aDate" style="font-size: 20px; color: blue; text-bold; font-weight:bold" class="form-control col s3 push-s9")
            div(class="col l12 m12 s12")    
              table(class="highlight z-depth-3 centered responsive-table")
                thead
                  tr
                    th Nombre
                    th Puesto
                    th Estado
                    th 
                tbody(id="body_usuarios")
                  each empleado in empleados
                    - Activo = ('Activo' == empleado.estado) ? 'selected' : null; 
                    - Baja = ('Baja' == empleado.estado) ? 'selected' : null; 
                    tr(class="row")
                      td=empleado.nombre
                      td=empleado.puesto
                      td

                        div(class="input-field")
                          select(name="estado" onchange="return bajaEmpleado("+empleado.id_empleado+", '"+empleado.estatus+"');")
                            option(value="Activo" selected=Activo) Activo
                            option(value="Baja" selected=Baja) Baja
                      td
                        a(href="/verinfo_empleado"+empleado.id_empleado) Ver Info.
        
        
