doctype html
html
  head
    title ServiBus Website
    
    script(src="javascripts/jquery-3.1.1.js")
    script(type="text/javascript" src="javascripts/materialize.js")
    script(type="text/javascript" src="javascripts/moments.js")
    script(src="javascripts/indexSecretaria.js")
    
    link(rel="stylesheet" type="text/css" href="stylesheets/style.css")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize.css")
    link(rel="stylesheet" type="text/css" href="fonts/iconfont/material-icons.css")
    link(href="/../images/fav.ico/favicon.ico" rel="icon" type="image/ico")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    
  body
        ul(id="dropdown1" class="dropdown-content grey lighten-3")
          li
            a(href="/generar_contrato" class="green-text" style="font-weight:bold") Generar contrato
          li
            a(href="/indexSecre" class="green-text" style="font-weight:bold") Ver contratos
            
        ul(id="dropdown2" class="dropdown-content grey lighten-3")
          li
            a(href="/generar_bitacora" class="green-text" style="font-weight:bold") Generar bitacora de viaje
          li
            a(href="/ver_bitacoras" class="green-text" style="font-weight:bold") Ver bitacoras de viaje
        
        ul(id="dropdown3" class="dropdown-content grey lighten-3")
          li
            a(href="/generar_orden" class="green-text" style="font-weight:bold") Generar orden de servicio
          li
            a(href="/ver_ordenServicio" class="green-text" style="font-weight:bold") Ver orden de servicio
          
        ul(id="dropdown4" class="dropdown-content grey lighten-3")
          li
            a(href="/agendar_servicio" class="green-text" style="font-weight:bold") Agendar servicio
          li
            a(href="/ver_agenda" class="green-text" style="font-weight:bold") Ver agenda
        ul(id="dropdown5" class="dropdown-content grey lighten-3")
          li
            a(href="/cotizacion_presencialSecre" class="green-text" style="font-weight:bold") Nueva cotizacion
          li
           a(href="/ver_cotizacionesSecre" class="green-text" style="font-weight:bold") Ver cotizaciones
        
        div(class="z-depth-3 col s12 m10 l10 offset-l1 ")
          div
            div(class="row grey lighten-3")
              div(class="col s1 push-s1 ")
                ul(id="slide-out" class="sidenav light-blue darken-4")
                  li
                    div(class="user-view")
                      div(class="background green")
                        img(src="")
                      a(href="#user")
                        img(class="circle" src="images/media.jpg")
                      a(href="#name")
                        span(class="white-text name" style="font-size:20px") #{user_nombre}
                        a(href="/logout/")
                          span(style="color: #ed1b24; font-weight:bold") Cerrar sesion
                  li
                    a(class="dropdown-trigger white-text" href="#!" data-target="dropdown1") Contrato
                      i(class="material-icons right") arrow_drop_down
                  li
                    a(href="#!" class="dropdown-trigger white-text" data-target="dropdown2") Bitacora de viaje
                      i(class="material-icons right") arrow_drop_down
                  li
                    a(class="dropdown-trigger white-text" href="#!" data-target="dropdown3") Orden de servicio
                      i(class="material-icons right") arrow_drop_down
                  li
                    a(href="#!" class="dropdown-trigger white-text" data-target="dropdown4") Agenda
                      i(class="material-icons right") arrow_drop_down
                  li
                    a(class="dropdown-trigger white-text" href="#!" data-target="dropdown5") Cotizaciones
                      i(class="material-icons right") arrow_drop_down
                a(href="#" data-target="slide-out" class="sidenav-trigger")
                  i(class="material-icons #01579b" style="font-size: 40px; padding-top:30px" ) menu    
              div(class="col s7 push-s2")
                  img(src="images/mapa.png" width="120" height="70" style="padding-top: 10px")
                  h4(class="right green-text darken-4" style="padding-bottom:10px; padding-left:20px") ServiBus Servicios Turisticos Terrestres 
        div(class="container")
          div(class="row")
            div(clas="col l10 m12 s12 offset-l1")
              h4.center.bold Actualizar servicio agendado
            
          form(method="post" action="/update/agenda/"+data.info.id_agenda+"?_method=PUT")
            div(class="row")
              label(for="aDate" id="aDate" style="font-size: 20px; color: blue; text-bold; font-weight:bold" class="form-control col s3 push-s9")
            div(class="row")
              div(class="input-field col s6")
                input(id="contratoId" name="contratoId" type="text" class="validate color-text-blue" value=data.tabla.contrato readonly style="visibility:hidden")
              div(class="input-field col s6")
                input(id="cotizacionId" name="cotizacionId" type="text" class="validate color-text-blue" value=data.info.id_cotizacion readonly style="visibility:hidden")  
            div(id="dataInfo")  
              div(class="row")
                div(class="input-field col s6 push-s1")
                  input(id="cliente" type="text" class="validate color-text-blue" value=data.info.nombre readonly)
                  label(for="cliente" style="color:blue") Nombre del cliente
                div(class="input-field col s4 push-s1 pull-s1")
                  input(id="destino" type="text" class="validate color-text-blue" value=data.info.destino readonly)
                  label(for="destino" style="color:blue") Lugar de destino
              div(class="row")
                div(class="input-field col s3 push-s1")
                  i(class="material-icons prefix") date_range
                  input(type="text" id="fecha_salida" value=data.info.fecha_salida readonly)
                  label(for="fecha_salida" style="color:blue") Fecha salida
                div(class="input-field col s4 push-s1 pull-s1")
                  input(id="lugarSalida" type="text" class=" color-text-blue" value=data.info.salida readonly)
                  label(for="lugarSalida" style="color:blue") Lugar de salida
                div(class="input-field col s3 push-s1")
                  i(class="material-icons prefix") access_time
                  input(type="text" class="timepicker validate" id="hora_salida" name="hora_salida" value=data.info.hora_salida required)
                  label(for="hora_salida" style="color:blue") Hora salida
              div(class="row")
                div(class="input-field col s3 push-s1")
                  i(class="material-icons prefix") date_range
                  input(type="text" id="fecha_regreso" value=data.info.fecha_regreso readonly)
                  label(for="fecha_sregreso" style="color:blue") Fecha regreso
                div(class="input-field col s4 push-s1 pull-s1")
                  input(id="lugarRegreso" type="text" class="color-text-blue" value=data.info.salida readonly)
                  label(for="lugarRegreso" style="color:blue") Lugar de regreso
                div(class="input-field col s3 push-s1")
                  i(class="material-icons prefix") access_time
                  input(type="text" class="timepicker validate" id="hora_regreso" name="hora_regreso" value=data.info.hora_regreso required)
                  label(for="hora_regreso" style="color:blue") Hora regreso
              div(class="row")
                div(class="input-field col s3 push-s1")
                  input(id="importe" name="importe" type="text" class="validate color-text-blue" value=data.info.importe_restante required)
                  label(for="importe" style="color:blue") Importe restante $
                div(class="input-field col s4 push-s1")
                  - Proximo = ('Proximo' == data.info.estatus) ? 'selected' : null;
                  - Enservicio = ('En servicio' == data.info.estatus) ? 'selected' : null;
                  - Brindado = ('Brindado' == data.info.estatus) ? 'selected' : null;
                    select(name="estatus" style="color:blue" class="validate" required)
                      option(value="Proximo" selected=Proximo) Proximo
                      option(value="En servicio" selected=Enservicio) En servicio
                      option(value="Brindado" selected=Brindado) Brindado
                    label(for="estatus" style="color:blue") Servicio
                div(class="input-field col s1 push-s1")
                  input(id="uniAnterior" name="uniAnterior" type="text" class="validate color-text-blue" value=data.tabla.id_unidad readonly style="visibility:hidden")
                div(class="input-field col s1")
                  input(id="opeAnterior" name="opeAnterior" type="text" class="validate color-text-blue" value=data.tabla.id_operador readonly style="visibility:hidden")
            div(class="row")
              div(class="input-field col s10 push-s1")
                table.highlight.z-depth-3.centered.responsive-table
                  thead
                    tr
                      th Id contrato
                      th Tipo unidad
                      th No. de plazas
                      th No. de unidades
                      th Numero economico
                      th Operador
                  tbody(id="info_unidades")
                      tr
                        td=data.tabla.contrato
                        td=data.tabla.tipo
                        td=data.tabla.numero_plazas
                        td=data.tabla.numero_unidades
                        td(id="unidades")
                          div(class="row")
                            div(class="input-field col s12 m12 l1")
                              a(class="btn-floating pulse btn-tiny waves-effect waves-light green btn modal-trigger btn tooltipped left" data-position="bottom" data-tooltip="Asignar unidad.." data-target="seleccionar_Unidad")
                                i(class="material-icons") add
                            div(class="input-field col s12 m12 l7 push-l2")
                              input(type="text" id="unid" name="unid" style="text-align:center;" class="validate color-text-blue" required value=data.tabla.id_unidad )
                        td(id="operadores")
                          div(class="row")
                            div(class="input-field col s12 m12 l1")
                              a(class="btn-floating pulse btn-tiny waves-effect waves-light green btn modal-trigger btn tooltipped left" data-position="bottom" data-tooltip="Asignar operador.." data-target="seleccionar_Operador")
                                i(class="material-icons") add
                            div(class="input-field col s12 m12 l7 push-l2")
                              input(type="text" id="opera" name="opera" style="text-align:center;" class="validate color-text-blue" required value=data.tabla.id_operador)
                    
            div(class="row")
              div(class="input-field col s12")
                button(class="btn waves-effect waves-light col s4 push-s7 pull-s1" type="submit" name="generar") Actualizar servicio
                       i(class="material-icons right") send
        
        div(id="seleccionar_Unidad" class="modal modal-fixed-footer")
          div(class="modal-content")
            h4 Unidades disponibles
            form(onsubmit="return getunidad(this);")
              div(class="row")
                div(class="input-field z-depth-3 col s10")
                  select(class="icons" name="unidad" id="unidad")
                    option(value="" disabled selected) Selecciona un tipo de unidad
                    option(value="1" data-icon="/../images/camioneta.jpg" class="left") Sprinter 20 plazas
                    option(value="2" data-icon="/../images/media.jpg" class="left") Autobus Modelo 2011 47 plazas
                    option(value="3" data-icon="/../images/primera.jpg" class="left") Autobus Modelo PB 2017 47 plazas
                div(class="input-field col s1 push-s1")
                  button(class="btn waves-effect waves-light" type="submit" name="buscar") 
                         i(class="material-icons right") search
                                           
            ul(class="collapsible" data-collapsible="accordion" id="all_unidades")
          div(class="modal-footer")
            a(class="modal-close waves-effect waves-green btn-flat" data-dismiss="modal") Cerrar
        
        div(id="seleccionar_Operador" class="modal modal-fixed-footer")
          div(class="modal-content")
            form(onsubmit="return getoperador(this);")
              div(class="row")
                div(class="input-field  col s12 center")
                  button(class="btn waves-effect waves-light btn tooltipped" data-position="bottom" data-tooltip="Clik si no se cargaron los Operadores!" style="background-Color: transparent; color:black;" type="submit" name="buscar") Visualizar a todos los operadores disponibles
                         i(class="material-icons right black-text") airline_seat_recline_normal
                                           
            ul(class="collapsible" data-collapsible="accordion" id="all_operadores")
          div(class="modal-footer")
            a(class="modal-close waves-effect waves-green btn-flat" data-dismiss="modal") Cerrar
        
        script.
              (function($){
                $(function(){
                $('.sidenav').sidenav();
                $(".dropdown-trigger").dropdown();
                });
              })(jQuery);
              $(document).ready(function(){
                $('.timepicker').timepicker();
              });
              $(document).ready(function() {
                var now = moment();
                $("#aDate").text(now.format("lll"));
              });
              $(document).ready(function(){
               $('.tooltipped').tooltip();
              });
              $(document).ready(function(){
                $('.modal').modal();
              });
              $(document).ready(function(){
                $('select').formSelect();
              });
            
              
              
          
